<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <clear/>
    <add key="Tax" value="0"/>
    <add key="newName" value="Entities"/>
    <add key="newConString" value="metadata=res://*/Model.PBM.csdl|res://*/Model.PBM.ssdl|res://*/Model.PBM.msl;provider=System.Data.SQLite;provider connection string=&quot;data source={0}&quot;"/>
    <add key="newProviderName" value="System.Data.EntityClient"/>
  </appSettings>
  <connectionStrings>
    <!-- SQLite --> 
  <add name="Entities" connectionString="metadata=res://*/Model.PBM.csdl|res://*/Model.PBM.ssdl|res://*/Model.PBM.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\PBMApp\pbm.db&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.data> 
    <DbProviderFactories>
      <clear />
      
      <add name="SQLite Data Provider" description=".Net Framework Data Provider for SQLite" invariant="System.Data.SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
       
    </DbProviderFactories>
  </system.data>
</configuration>